.{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: white;
    display: flex;
    place-items: center;
    
}
main{
    display: grid;
    grid-template-areas: 
    "a a a a b b"
    "a a a a b b"
    "c c c d d d"
    "c c c e e e";
   gap: 10px;
    
}

main div{
    padding: 30px;
    text-align: center;
    border-radius: 3px;
}
.Item-A{
    background-color: orangered;
    grid-area: a;
    
}
.Item-B{
    background-color:yellow;
    grid-area: b;
    
}
.Item-C{
    background-color: green;
    grid-area: c;
    
}
.Item-D{
    background-color:blue;
    grid-area: d;
    
}
.Item-E{
    background-color:purple;
    grid-area: e;
    
}